@{
    ViewBag.Title = "About";
}

<div layout:fragment="site_content">
    <div class="container" >
        <div class="row mt-15">

            <div class="col-sm-12">
                <h2 style="font-weight:bold">How to write productive to-do lists</h2>
                <img width="800" height="533" src="https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-800x533.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" srcset="https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-800x533.jpg 800w, https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-300x200.jpg 300w, https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-1024x683.jpg 1024w, https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-768x512.jpg 768w, https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-1536x1024.jpg 1536w, https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-2048x1365.jpg 2048w, https://desktime.com/blog/wp-content/uploads/2016/03/Notebook-624x416.jpg 624w" sizes="(max-width: 800px) 100vw, 800px">
                <main>
                    <h4 style="font-weight:bold">1. Bullet Journaling</h4>
                    <p>Bullet journaling is a to-do list system that allows you to divide and organize the types of tasks you write down, plan reminders ahead of time, keep track of events and ideas, and figure out which tasks you should abandon altogether.</p>
                    <p>
                        <h5>Each item that you write down is identified with a different bullet. For example, an actionable item (eg. pick up dry cleaning) is identified with a simple dotted bullet (•), and events (eg. dad’s birthday party) are marked with an “o” bullet (◦). Extra symbols help further categorize list items – an asterisk (*) next to an item means that it’s a priority to-do.</h5>

                    </p>
                    <br />

                    <h4 style="font-weight:bold">
                        2. Strikethru
                    </h4>

                    <p>
                        Strikethru is a simple to-do list system that includes four sections to categorize your tasks in: the Live List, the Dump, the Vault, and the Calendar. Here’s what each of them means:
                        <h5>
                            The Live List is a typical to-do list that includes tasks you want to accomplish in a given day. The items in the list live on till you complete it.
                            The Dump is a place for brainstorming and dumping all your to-do thoughts and ideas that you have not scheduled yet, but don’t want to forget..
                            The Vault is where you keep your proper to-do lists for the different projects in your life..
                            The Calendar is a slightly modified month-by-month calendar with space for monthly, weekly and daily to-dos..
                        </h5>
                        <br />

                        <h4 style="font-weight:bold">
                            3.The Pareto Principle
                        </h4>
                    <p>
                        The Pareto Principle states that 80% of results come from 20% of causes. This distribution occurs in all sorts of aspects of life and business, and you can also apply it to your to-do lists.
                    </p>
                    <br />

                </main>

               

            </div>
        </div>
        </div>
</div>